body {
    background-color: #FEFAE0;

}

header {
    background-color: #CCD5AE;
}
.nav-link{
    text-decoration: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    color: #777568;
}

main {
    background-color: #E9EDC9;
}

/* Sarah */
article {
    display: flex;
    flex-direction: row;
}

.text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 31px;

    color: #777568;
}

.fonte {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    text-decoration: none;
    color: #777568;
}

/* Veida */
.container {
    display: flex;
    flex-direction: row;
}

.text1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    color: #777568;
}

footer {
    background-color: #CCD5AE;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    color: #777568;
}